*,
*::after,
*::before {
  box-sizing: border-box;
  /* border: 1px solid white; */
}

:root {
  font-size: 62.5%;

  --main-bg-color: #5f9ea0;
  --main-bg-hover-color: rgb(127, 177, 179);
  --inner-color: rgb(255, 255, 255, 0.2);

  --card-hq: rgb(54, 54, 54);
  /* rgb(127, 177, 179) */
}

/* General */
h1 {
  margin: 0;
  margin-top: 0rem;
}
.inline-block-display {
  display: inline-block;
}
ul {
  list-style: none;
}

.btn {
  background-color: var(--main-bg-color);
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  transition: all 0.5s;
}
.btn-primary {
  letter-spacing: 0.2rem;
  border: 0;
  outline: 0;
}
#nav-btns {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
}
.nav-btn {
  margin-right: 1rem;
  margin-left: 1rem;
  /* height: 15px;
  width: 70px; */
}

.btn:hover {
  background-color: var(--main-bg-hover-color);
  cursor: pointer;
  transform: scale(1.2);
}
.btn-primary:hover {
  transform: scale(1.2) rotate(360deg);
}
/* .nav-btn:hover {
  } */

/* // */
body {
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Svg and path */
path {
  fill: none;
  stroke: black;
  pointer-events: all;
}

path:hover {
  z-index: 5;
  background-color: gold;
  border: 3px solid orange;
  /* transform: scale(2); */
}

/* Form styles */

/* #form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  max-width: 450px;
} */

label {
  display: inline-block;
  margin: 0.5rem 0;
}

select {
  background-color: var(--inner-color);
  width: 100%;
  padding: 0.5rem;
  outline: 0;
  border: 0;
  border-radius: 5px;
}

option {
  background-color: rgb(95, 158, 160, 0.8);
  border: 0;
  outline: 0;
}
option:hover {
  background-color: black;
  /* background-color: rgb(81, 129, 131); */
}

/* option {
    padding: 0.3rem;
    background-color: rgb(95, 158, 160, 0.2);
} */

.sub-group {
  width: 49%;
}

.group {
  background-color: var(--main-bg-color);
  padding: 1rem;
  margin: 1rem 0;
  min-width: 390px;
  max-width: 400px;
  border-radius: 10px;
}

/* Card styles */
#float-card {
  border-radius: 20px;
  min-height: 250px;
  width: 220px;
  position: absolute;
  visibility: hidden;
  /* display: none; */
  overflow: hidden;
}

.card-hq {
  background-color: var(--card-hq);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

/* #card-footer {} */
/* #card-body {} */
#card-footer {
  transform: rotate(180deg);
}
