*,
*::after,
*::before {
  box-sizing: border-box;
  /* border: 1px solid white; */
}

:root {
  font-size: 62.5%;

  --main-bg-color: rgb(205, 73, 17);
  /* rgb(255, 112, 53) */
  /* --main-bg-color: #5f9ea0; */
  --main-bg-hover-color: rgb(251, 127, 74);
  /* --main-bg-hover-color: rgb(127, 177, 179); */
  --inner-color: rgb(255, 255, 255, 0.2);

  /* --card-hq: rgb(54, 54, 54); */
  --card-hq: rgb(106, 110, 128);
  /* rgb(127, 177, 179) */
}

/* General */
/* Headings */
h1 {
  color: black;
  position: fixed;
  margin: 0;
  margin-top: 0rem;
}
h2 {
  font-size: 2rem;
}
.inline-block-display {
  display: inline-block;
}
ul {
  /* list-style: none; */
  padding-left: 2rem;
}

/* Buttons */
.btn {
  background-color: var(--main-bg-color);
  padding: 1rem 2rem;
  margin: 1.3rem;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
  border-radius: 15px;
  transition: all 0.5s;
}
.btn-primary {
  letter-spacing: 0.2rem;
  margin-left: 0;
  border: 0;
  outline: 0;
}
#nav-btns {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  /* pointer-events: ; */
}
.nav-btn {
  margin-right: 1rem;
  margin-left: 1rem;
  /* height: 15px;
  width: 70px; */
}
.t-session-nav-btn {
  max-width: 3rem;
  padding: 1rem;
}
.t-nav-btn,
.t-session-nav-btn {
  margin-left: 0;
}

.btn:hover {
  background-color: var(--main-bg-hover-color);
  cursor: pointer;
  transform: scale(1.2);
}
.btn-primary:hover {
  transform: scale(1.2) rotate(360deg);
}
/* .nav-btn:hover {
  } */

/* Body content */
body {
  font-family: "Noto Serif", serif;
  font-size: 1.6rem;
  color: white;
  background-color: black;
  /* flexbox layout */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* Svg and path */
svg {
  display: block;
  background-color: #fff;
}

path {
  /* fill: none; */
  /* fill: gold; */
  /* background-color: gold; */
  stroke: black;
  pointer-events: all;
}

path:hover {
  /* z-index: 5; */
  fill: var(--main-bg-hover-color);
  border: 3px solid orange;
  /* transform: scale(2); */
}

/* Form styles */

/* #form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  max-width: 450px;
} */

#loc-label {
  background-color: darkorange;
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  visibility: hidden;
}

label {
  display: inline-block;
  margin: 0.5rem 0;
}

select {
  background-color: var(--inner-color);
  width: 100%;
  padding: 0.5rem;
  outline: 0;
  border: 0;
  border-radius: 5px;
  /* }
*/

  /* styling */
  /* consider this ida dert white background */
  /* body {
    background-color: rgb(0,159,214);
   } */
  /* background-color: white; */
  /* border: thin solid blue; */
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  /*
select { */
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

option {
  background-color: var(--main-bg-hover-color);
  /* background-color: rgb(95, 158, 160, 0.8); */
  border: 0;
  outline: 0;
}
option:hover {
  background-color: red;
  /* background-color: rgb(81, 129, 131); */
}

/* option {
    padding: 0.3rem;
    background-color: rgb(95, 158, 160, 0.2);
} */

.sub-group {
  width: 49%;
}

.group {
  background-color: var(--main-bg-color);
  padding: 1rem;
  margin: 1rem 0;
  min-width: 390px;
  max-width: 400px;
  border-radius: 10px;
}

/* Card styles */
.card {
  background-color: black;
  border-radius: 20px;
  min-height: 250px;
  width: 220px;
  margin: 10px;
  position: absolute;
  top: 5rem;
  visibility: hidden;
  /* display: none; */
  overflow: hidden;
}

/* .card-hq p:first-child {
  font-size: 2.5rem;
} */
.card-hq {
  font-size: 2rem;
  background-color: var(--card-hq);
  padding: 0.2rem 2rem;
  display: flex;
  justify-content: space-between;
}

/* #card-footer {} */
/* #card-body {} */
.card-footer {
  transform: rotate(180deg);
}

#teachers-nav {
  visibility: hidden;
  display: flex;
  align-self: flex-start;
}
#week-days,
#day-sessions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}
