<div id="form" class="inline-block-display form">
    <!-- onSubmit="return false" -->
    <!-- FIRST FORM -->
    <form action="" id="form">
        <!-- YEAR + SEMESTER -->
        <div class="group">
            <!-- YEAR -->
            <div class="sub-group inline-block-display">
                <label for="year">Year</label>
                <br>
                <select name="year" id="year">
                    <option value="1">Master 1</option>
                    <option value="2">Master 2</option>
                    <!-- <option value="3">License 2</option>
                    <option value="4">License 3</option> -->
                </select>
            </div>
            <!-- SEMESTER -->
            <div class="sub-group inline-block-display">
                <label for="semester">Semester</label>
                <br>
                <select name="semester" id="semester">
                    <option value="1">1st semester</option>
                    <option value="2">2nd semester</option>
                </select>
            </div>
        </div>
        <!-- DAY + TIMING -->
        <div class="group">
            <!-- DAY -->
            <div class="sub-group inline-block-display">
                <label for="day">Day</label>
                <br>
                <select name="day" id="day">
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday" selected>Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <!-- <option value="Friday">Friday</option> -->
                </select>
            </div>
            <!-- TIMING -->
            <div class="sub-group inline-block-display">
                <!-- you can call it time gap/slot or just time, hour -->
                <label for="session">Timing</label>
                <br>
                <select name="session" id="session">
                    <option value="0">08:00 - 09:30</option>
                    <option value="1">09:40 - 11:10</option>
                    <option value="2">11:20 - 12:50</option>
                    <option value="3">13:00 - 14:30</option>
                    <option value="4" selected>14:40 - 16:10</option>
                    <option value="5">14:40 - 16:10</option>
                    <option value="6">16:20 - 17:50</option>
                    <!-- <option value="Friday">Friday</option> -->
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <!-- TEACHERS FORM -->
    <form action="" id="teachersForm" class="form">
        <div class="group">
            <div class="sub-group inline-block-display">
                <label for="teachers">Teacher</label>
                <br>
                <select name="teachers" id="teachers">
                    <option value="0">BOUDEFASSA</option>
                    <option value="1">KESSI</option>
                    <option value="2">SETITRA</option>
                    <option value="3">SEBAI</option>
                    <option value="4">DJIROUNE</option>
                    <option value="5">BENCHAIBA</option>
                    <option value="6">LARABI</option>
                    <option value="7">DRIAS</option>
                    <option value="8">MESSAOUDI</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <!-- EVENTS FORM -->
    <form action="" id="eventsForm" class="form">
        <div class="group">
            <div class="inline-block-display">
                <label for="events">Events</label>
                <br>
                <select name="events" id="events">
                </select>
            </div>
        </div>
        <button type="submit" id="events-submit" class="btn btn-primary">Search</button>
    </form>
</div>