<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>events card</title>
</head>

<body>

    <div id="events-card" class="card">
        <div id="" class="card-header card-hq">
            <p class="card-q">K</p>
            <p><span class="card-orginizer"></span> <span class="card-year"></span></p>
        </div>
        <div id="events-card-body" class="card-body">
            <!-- we'll add this dynamically -->
            <ul>
                <li>Event: <span id="event-name"></span></li>
                <li>Orginizer: <span id="event-orginizer"></span></li>
                <li>Location: <span id="event-location"></span></li>
                <li>Date: <span id="event-date"></span></li>
                <li>what's about ?: <br><span id="event-descreption"></span></li>
            </ul>
        </div>
        <div id="" class="card-footer card-hq">
            <p class="card-q">K</p>
            <p><span class="card-orginizer"></span> <span class="card-year"></span></p>
        </div>
    </div>

</body>

</html>