<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <div id="teacher-card" class="card">
        <div id="" class="card-header card-hq">
            <p>Q</p>
            <p>Teacher-Card</p>
        </div>

        <div id="t-card-body" class="card-body">
            <ul>
                <li>Day: <span id="t-card-day"></span></li>
                <li>Session: <span id="t-card-session"></span></li>
                <li>Section: <span id="t-card-section"></span></li>
                <li>Module: <span id="t-card-module"></span></li>
            </ul>
        </div>

        <div id="" class="card-footer card-hq">
            <p>Q</p>
            <p>Teacher-Card</p>
        </div>
        <!-- 
		<div id="teacher-card" class="card">
			<div id="" class="card-header card-hq">
				<p>Q</p>
				<p>Teacher-Card</p>
			</div>
			<div id="t-card-body" class="card-body">
                        '<ul>' +
        '  <li>Teacher: <span id="t-card-name">' + tName + '</span></li>' +
        '  <li>Day: <span id="t-card-day">' + sessionData[sessionIndex]["day"] + '</span></li>' +
        '  <li>Session: <span id="t-card-session">' + tSessionIndex + '</span></li>' +
        '  <li>Time: <span id="t-card-session">' + sessionData[sessionIndex]["session_num"] + " " + sessionData[sessionIndex]["session"] + '</span></li>' +
        '  <li>Section: <span id="t-card-section">' + sessionData[sessionIndex]["section"].split("_").join(" ") + '</span></li>' +
        '  <li>Module: <span id="t-card-module">' + sessionData[sessionIndex]["module"] + '</span></li>' +
        '</ul>';
			</div>
			<div id="" class="card-footer card-hq">
				<p>Q</p>
				<p>Teacher-Card</p>
			</div>
		</div>

         -->

    </div>
</body>

</html>